body, html {
  font-family: 'Frutiger', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  margin: 0px;
  background-color: transparent
}

.jp {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.window { 
  background: #ece9d8;
  border: 2px solid #0554d2;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(3, 64, 156, 0.1);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin: 5px 0px 5px 0px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  column-gap: 10px;
}

.title-bar {
  background: linear-gradient(180deg,#15e312,#0fdd13 8%,#25e83c 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  padding: 3px 5px 3px 3px;
  border-radius: 6px 6px 0px 0px;
  font-size: inherit;
  text-shadow: 1px 1px #059559;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .title-bar-text {
  display: flex;
  flex-flow: row;
  place-content: stretch flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wrapper .window {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  place-content: stretch space-between;
  break-inside: avoid;
  width: 300px;
  flex: 0 0 300px;
  align-items: stretch;
}



.window-body {
  margin: 8px;
}

.footer {
  text-align: center;
  font-size: 11px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 12%;
  border-radius: 8px;
}

@media only screen and (min-width: 682px) {
  .wrapper {
    column-count: 2;
  }
}

@media only screen and (min-width: 1023px) {
  .wrapper {
    column-count: 3;
  }
}

@media only screen and (min-width: 1364px) {
  .wrapper {
    column-count: 4;
  }
}

@media only screen and (min-width: 1023px) {
  .window--wide {
    column-span: 2;
  }
}
