<!DOCTYPE html>
<html lang="en">

<head>
  <title>~ enrico benedetti's homepage ~</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- import noto sans font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- import frutiger font -->
  <link href="https://fonts.cdnfonts.com/css/frutiger?styles=28198,15520" rel="stylesheet">


  <!-- import the latest version of hydra synth -->
  <script src="https://unpkg.com/hydra-synth"></script>

  <!-- import tabs scripts -->
  <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script> -->

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

  <canvas class="bg" id="myCanvas" width="1920px" height="1080px"></canvas>


  <div class="wrapper">
    <div class="windows">
      <div id="about">
        <div class="window">
          <div class="title-bar">
            <div class="title-bar-text">
              About me</div>
          </div>

          <div class="window-body">
            My name is Enrico Benedetti. Currently, I am doing a PhD in
            Computer Science
            Education at the university of Utrecht in the Netherlands.<br /><br />

            My interests include natural language processing, Japanese, music, creative coding, etc. <br />

          </div>
        </div>
      </div>


      <div id="portrait">
        <div class="window">
          <div class="title-bar">
            <div class="title-bar-text">
              Photo</div>
          </div>




          <div class="window-body">
            <img src="/assets/images/portrait.png" id="portrait" alt="me" class="zoomable-img" style="max-width: 100%;">
            > ...this is me!
            <div id="overlay">
              <img id="overlayPortrait" />
            </div>
          </div>
        </div>
      </div>


      <div class="window">
        <div class="title-bar">
          <div class="title-bar-text">This page will always be under construction!</div>
        </div>
        <div class="window-body">
          <div class="center" style="display:flex; align-items: center; margin-left: 15px; margin-right: 15px"><img
              src="/assets/images/underconstructionsorry.gif" alt="under construction" width="50px">
            <img class="center" src="/assets/images/underconstructionsorry.gif" alt="under construction" width="50px">
            <img src="/assets/images/underconstructionsorry.gif" alt="under construction" width="50px">
          </div>

        </div>
      </div>

      <div id="contact">
        <div class="window">
          <div class="title-bar">
            <div class="title-bar-text">Contact</div>
          </div>

          <div class="window-body">
            Send me an email at <a href="mailto:e.benedetti@uu.nl">e.benedetti [at] uu.nl</a> :) <br />
          </div>
        </div>
      </div>

      <div id="cv">
        <div class="window" style="background-color: white;">
          <div class="title-bar">Curriculum Vitae</div>

          <div class="center window-body">
            <a href="cv.pdf" target="_blank">
              <img src="/assets/images/download.gif" alt="Download">Download my cv here!<img
                src="/assets/images/download.gif" alt="Download">
            </a>

          </div>
        </div>
      </div>



      <div id="projects">
        <div class="window">
          <div class="title-bar">
            Current projects
          </div>
          <div class="window-body">
            Contact me if interested in collaborating in those or similar projects :) <br />
            <ul>
              <li> Research project: <a
                  href="https://uu.konjoin.nl/project/2518-exploring-computational-thinking-and-generative-artificial-intelligence-tools-in-creative-programming"
                  target="_blank">Exploring Computational Thinking and GenAI Tools in
                  Creative Programming</a></li>
            </ul>
          </div>
        </div>
      </div>



      <!-- <img src="/static/assets/portrait_small.png" style="-ms-interpolation-mode: bilinear; width: 65%;" alt="me"> -->
      <div id="posts">
        <div class="window">
          <div class="title-bar">
            Posts
          </div>
          <div class="window-body">
            <ul>
              {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>


  {% include footer.html %}

  <!-- import the scripts used for the background -->

  {% assign hydra_script = "hydra-bg.js" %}

  <script src="assets/js/{{ hydra_script }}"></script>
  <script src="assets/js/content_change.js"></script>

 <!-- import zoomable image script -->
  <script src="/assets/js/overlay_img.js"></script>

  <!-- import animated title script -->
  <script src="/assets/js/animate_title.js"></script>
</body>

</html>