<!DOCTYPE html>
<html lang="en">

<head>
  <title>~ enrico benedetti's homepage ~</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- import noto sans font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- import the latest version of hydra synth -->
  <script src="https://unpkg.com/hydra-synth"></script>

  <!-- import tabs scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

  <canvas class="bg" id="myCanvas" width="1920px" height="1080px"></canvas>

  <div id="tabs">
    <ul role="menu-bar">
      <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="#about">
          <h3>About</h3>
        </a>
      </li>
      <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="#photos">
          <h3>Photos</h3>
        </a>
      </li>
      <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="#projects">
          <h3>Projects</h3>
        </a>
      </li>
      <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="#contact">
          <h3>Contact</h3>
        </a>
      </li>
      <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="#cv">
          <h3>CV</h3>
        </a>
      </li>
    </ul>

    <div id="about">
      <div class="window">
        <div class="title-bar">
          <h1 class="title">About</h1>
        </div>

        <div class="window-pane">
          I am Enrico (<span class="jp">エンリコ・</span>[enˈriːko]). Currently I am doing a PhD in Computer Science
          education
          at the university of Utrecht in the Netherlands.<br />

          Other big interests of mine include natural language processing, Japanese, music... <br />
          This page is under construction, so please be patient! <br />
          <img src="/assets/images/underconstructionsorry.gif" alt="under construction"> <br />
        </div>
      </div>
    </div>

    <div id="contact">
      <div class="window">
        <div class="title-bar">
          <h1 class="title">Contact</h1>
        </div>

        <div class="window-pane">
          Send me an email at <a href="mailto:e.benedetti@uu.nl">e.benedetti [at] uu.nl</a> :) <br />
        </div>
      </div>
    </div>

    <div id="cv">
      <div class="window">
        <div class="title-bar">
          <h1 class="title">Curriculum Vitae</h1>
        </div>

        <div class="window-pane">
          <a href="cv.pdf" target="_blank">
            <img src="/assets/images/download.gif" alt="Download"> Download my cv here! <img
              src="/assets/images/download.gif" alt="Download">
          </a>

          <!-- <iframe style="border:none;" title="CV" src="cv.pdf" width="100%" height="800px"></iframe> -->
        </div>
      </div>
    </div>


    <div id="photos">
      <div class="window">
        <div class="title-bar">
          <h1 class="title">Some photos</h1>
        </div>
        <div class="window-pane">
          <!-- This time, architecture and power lines from around Tokyo. <br />
          photos here -->
          <br />
        </div>
      </div>
    </div>


    <div id="projects">
      <div class="window">
        <div class="title-bar">
          <h1 class="title">Projects</h1>
        </div>
        <div class="window-pane">
        </div>
      </div>
    </div>



    <!-- <img src="/static/assets/portrait_small.png" style="-ms-interpolation-mode: bilinear; width: 65%;" alt="me"> -->

    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <!-- import the scripts used for the background -->

    {% assign hydra_script = "hydra-bg.js" %}

    <script src="assets/js/{{ hydra_script }}"></script>
    <script src="assets/js/content_change.js"></script>



    <!-- import animated title script -->
    <script src="/assets/js/animate_title.js"></script>
</body>

</html>