<!DOCTYPE html>
<html lang="en">

<head>
  <title>~ enrico benedetti's homepage ~</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- import noto sans font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- import the latest version of hydra synth -->
  <script src="https://unpkg.com/hydra-synth"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

  <canvas class="bg" id="myCanvas" width="1920px" height="1080px"></canvas>

  {% include header.html %}

    <div class="window">
      <div class="title-bar">
        <h1 class="title">{{ page.title }}</h1>
      </div>
      <div class="window-pane">
        {{ content }}
      </div>
    </div>


  


  <div class="back_to_home">
    <a href='{{site.url}}/'>Back</a>
  </div>

  {% include footer.html %}

  <!-- import the scripts used for the background
  <script src="/assets/js/{{ hydra_script }}"></script> -->



  <!-- import animated title script -->
  <script src="/assets/js/animate_title.js"></script>
</body>